.body {
    background: #022f9f;
}

#header {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 10;
    background-color: #022F9F;
    text-align: right;
    border-bottom: 1px solid black;
    color: white;
    line-height: 20px;
}
#content {
    margin-top: 0px;
    z-index:1;
}

li {
    display: inline-block;
    font-size: 15px;
    font-family: 'Helvetica Neue';
    color: white;
}

a {
    text-decoration: none;
    margin: 10px;
    padding: 10px;
}

a:link {
    color: #FFF;
}

a:visited {
    color: #FFF;
}

.button {
    text-decoration: none;
    color: #FFF;
    padding: auto;
    margin-right: 25px;
    border-top: 1px solid #CCCCCC;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #CCCCCC;
    border-radius: 10px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.4);
    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.4), 0 1px 1px rgba(0,0,0,0.2);
    -moz-box-shadow: inset 0 1px 0 rgba(255,255,255 0.4), 0 1px 1px rgba(0,0,0,0.2);
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.4), 0 1px 1px rgba(0,0,0,0.2);
    background: #4479BA;
}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: "Helvetica Neue"
}

input[type=submit] {
    width: 100%;
    background-color: #022f9f;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: "Helvetica Neue"
}

input[type=submit]:hover {
    background-color: #45a049;
    font-family: "Helvetica Neue"
}

.form {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 30px;
    display: inline-block;
    font-family: "Helvetica Neue";
    float: left;
    width: 30%;
    margin-left: 5%
}

h2 {
    text-align: center;
    font-family: "Helvetica Neue"
}

.footer {
    font-family: 'Raleway', Arial, sans-serif;
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 1px;
	margin: 10px auto 0;
	width: 100%;
	height: 160px;
	background: #022f9f;
	position: relative;
}

.footer li {
    display: inline-block;
    list-style: outside none none;
    margin: 65px 25px;
    padding: 0px;
}

.billet {
    font-family: "Helvetica Neue";
    float: left;
    margin-top: 2%;
    margin-left: 10%;
    margin-right: 15%;
    width: 30%;
}